<div>
  <p>
  <mat-toolbar>
    <span style="font-family:delphian;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>




<mat-card class="limited">

  <div class="columns is-multiline">

    <div class="column is-4">
      <a [routerLink]="['/crea']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-user-circle"></i>  Crea la scheda
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="column is-4">
      <a [routerLink]="['/docs']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-book"></i>  Consulta il Regolamento
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="column is-4">
      <a [routerLink]="['/utente']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-user"></i>  Modifica Email e password
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="column is-4">
      <a [routerLink]="['']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-sign-out"></i>  Logout
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="column is-3">
      &nbsp;
    </div>

    <div class="column is-3">
      &nbsp;
    </div>

    <div class="column is-3">
      &nbsp;
    </div>

    <div class="column is-3">
      &nbsp;
    </div>

    <div class="column is-3">
      &nbsp;
    </div>

  </div>

</mat-card>
