<div>
  <p>
  <mat-toolbar>
    <span style="font-family:delphian;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>




<mat-card class="limited">

  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <a [routerLink]="['/crea']">
        <mat-card class="movable">
          <mat-card-content >
            <i class="fa fa-user-circle"></i> Crea la scheda <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['/xx']">
        <mat-card class="movable">
          <mat-card-content>
            <i class="fa fa-book"></i> Consulta il regolamento <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['']">
        <mat-card class="movable">
          <mat-card-content>
            <i class="fa fa-sign-out"></i> Logout <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

  </mat-grid-list>

</mat-card>
