<div>
  <p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-family:delphian; font-size:1.2em;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="side"  >
    <app-sidex></app-sidex>
  </mat-sidenav>
  <mat-sidenav-content>

<div class="container" style="width: 80%; margin-top: 1em;">

  <mat-card>
    <mat-card-title>
      Poteri del Sangue
    </mat-card-title>
    <div class="columns">
      <div class="column">
        <hr>
      </div>
    </div>
    <div class="columns is-multiline" style="margin-left: 0px;" >
      <div class="column is-4 nopadding" *ngFor="let dd of discipline; let ix = index">
        <div class="columns">
          <div class="column red alc">
            {{dd.disciplina.nomedisc}} (Lvl. {{dd.disciplina.livello}})
          </div>
        </div>
        <div class="columns">
          <div class="column ">
            Poteri da attivare: {{dd.disciplina.livello - dd.poteri.length}}
          </div>
        </div>
        <div class="columns" *ngFor="let pp of dd.poteri">
          <div class="column">{{pp.livellopot}}. {{pp.nomepotere}}
          </div>
        </div>
        <div class="columns" *ngIf="dd.newpoteri.length > 0" >
          <div class="column">
            <mat-form-field appearance="fill" >
              <mat-label>Poteri</mat-label>
              <mat-select [(value)]="newpotere[ix]">
                <mat-option *ngFor="let pp1 of dd.newpoteri" [value]="pp1.potere.idpotere"  [disabled]="pp1.disabled==1" >{{pp1.potere.livellopot}} - {{pp1.potere.nomepotere}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="columns" *ngIf="dd.newpoteri.length > 0" >
          <div class="column">
            <button mat-raised-button class="large" color="primary" [disabled]="newpotere[ix] == '0'" (click)="addpotere(ix)" style="width : 100%;" >
              Scegli
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
<p>
</div>

</mat-sidenav-content>
</mat-sidenav-container>
