<div>
  <p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-family:delphian; font-size:1.2em;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="side"  >
    <app-sidex></app-sidex>
  </mat-sidenav>
  <mat-sidenav-content>


<div class="container" style="width: 80%; margin-top: 1em; min-height: 85vh;">
  <p>
  <mat-card>
    <mat-card-title>
      Log Spesa PX (e modifiche extra)
    </mat-card-title>
    <mat-card-subtitle>
      Eventi a Notturna {{myeventi}} <span *ngIf="eventodata !='' "><br>Ultimo evento: {{eventodata}} </span>
    </mat-card-subtitle>
    <mat-card-content>
      <div class="columns">
        <div class="column bigger">
          Data
        </div>
        <div class="column bigger">
          Azione
        </div>
        <div class="column bigger is-2">
          Px
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <hr>
        </div>
      </div>
      <div class="columns" *ngFor="let px of logpx">
        <div class="column">
          {{px.data}}
        </div>
        <div class="column">
          {{px.Azione}}
        </div>
        <div class="column alr is-2">
          {{px.px}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>


</mat-sidenav-content>
</mat-sidenav-container>
