
mat-card {
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
}

mat-card-title  {
  justify-content: center;
  line-height: 4em !important;
  display: flex;
}
mat-card-subtitle  {
  justify-content: center;
  line-height: 3em !important;

}

.true-primary {
  font-family: delphian ;
  font-weight: normal;
  font-size: 4em;
  color: white;
}
.true-primary-small {
  font-family: delphian  ;
  font-weight: normal;
  font-size: 2em;
}



.large {
  width:  100% !important;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  display: block;
}

a,
a:visited
{
  color: #2d77ed;
  text-decoration: none;
}

a:hover {
  color: #5391f5;
}
