<div>
  <p>
  <mat-toolbar>
    <span style="font-family:delphian;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-card class="limited">

  <mat-grid-list cols="3" rowHeight="2.5:1">
    <mat-grid-tile>
      <a [routerLink]="['/scheda']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-user-circle"></i> Vedi la scheda <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['/xx']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-plus-square"></i> Aggiungi / Spendi PX <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['/xx']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-pencil-square"></i> Aggiungi Pregi e Difetti <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['/xx']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-file-text"></i> Inserisci Biografia e Annotazioni <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['/xx']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-bolt"></i> Scegli Poteri <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['/xx']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-list"></i> Visualizza log PX <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['/xx']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-book"></i> Consulta il regolamento <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a [routerLink]="['']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-sign-out"></i> Logout <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

    <mat-grid-tile>
    </mat-grid-tile>

  </mat-grid-list>

</mat-card>
