<div>
  <p>
  <mat-toolbar>
    <span style="font-family:delphian;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>


<div class="card-container">

  <a class="card"  [routerLink]="['/xx']">
    <span><i class="fa fa-user-circle"></i> Vedi la scheda</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  <a class="card"  [routerLink]="['/xx']">
    <span><i class="fa fa-plus-square"></i> Aggiungi / Spendi PX</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card"  [routerLink]="['/xx']">
    <span><i class="fa fa-pencil-square"></i> Aggiungi Pregi e Difetti</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card"  [routerLink]="['/xx']">
    <span><i class="fa fa-file-text"></i> Inserisci Biografia e Annotazioni</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>


  <a class="card"  [routerLink]="['/xx']">
    <span><i class="fa fa-bolt"></i> Scegli Poteri</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card"  [routerLink]="['/xx']">
    <span><i class="fa fa-list"></i> Visualizza log PX</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card"  [routerLink]="['/xx']">
    <span><i class="fa fa-book"></i> Consulta il regolamento</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>

  <a class="card"  [routerLink]="['']">
    <span><i class="fa fa-sign-out "></i> Logout</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
  </a>


</div>
