<div>
  <p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-family:delphian; font-size:1.2em;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="side"  >
    <app-sideadm></app-sideadm>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="container" style="width: 80%; margin-top: 1em; min-height: 85vh;">
      <p>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{nomepg}}: Gestione risorse
          </mat-card-title>
          <mat-card-subtitle>

          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <hr>

          <mat-card>
            <div class="columns" >
              <div class="column is-6">
                Risorse base (Background)
              </div>
              <div class="column ">
                <button  class="btn  btn-xs" (click)="minbg(2)" [disabled]="risorse_base<1"><i class="fa fa-minus"></i></button>
                <i *ngFor="let item of 10|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= risorse_base, 'dred': ix < risorse_base}"></i>
                <button class="btn  btn-xs" (click)="addbg(2)" [disabled]="risorse_base>9"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="columns" >
              <div class="column is-6">
                Risorse effettive
              </div>
              <div class="column ">
                
                <i *ngFor="let item of 10|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= risorse_base+saldo, 'dred': ix < risorse_base+saldo}"></i>
                
              </div>
            </div>
          </mat-card>

          <p>&nbsp;</p>

          <form [formGroup]="RisorseForm" (ngSubmit)="addspesa()" #RisForm=ngForm>
            <div class="columns" >
              <div class="column is-3">
                <mat-form-field appearance="fill" style="size: 75%; display: block; margin-top: 1em;" >
                  <mat-label>Risorse Spese</mat-label>
                  <input matInput formControlName="spesa"  type="number" min="0">
                  <mat-hint >Max {{risorse_base+saldo}}</mat-hint>
                </mat-form-field>
              </div>

              <div class="column is-6">
                <mat-form-field appearance="fill" style="size: 75%; display: block; margin-top: 1em;" >
                  <mat-label>Periodo di recupero (giorni)</mat-label>
                  <input matInput formControlName="recupero"  type="number" min="0" step="10">
                  <mat-hint >Suggeriti multipli di 30</mat-hint>
                </mat-form-field>
                <button  mat-raised-button type="submit" class="large" color="primary" [disabled]="!RisorseForm.valid" >Spendi</button>
              </div>
 
            </div>
          </form>

          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Storico impiego risorse
              </mat-card-title>
              <mat-card-subtitle>
            </mat-card-subtitle>
          </mat-card-header>
            <mat-card-content>
              <div class="columns">
                <div class="column bigger">
                  Data
                </div>
                <div class="column bigger">
                  Risorse impegnate
                </div>
                <div class="column bigger ">
                  Recupero
                </div>
                <div class="column bigger alr">
                  Risorse recuperate
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <hr>
                </div>
              </div>
              <div class="columns" *ngFor="let px of listaarray">
                <div class="column">
                  {{px.data}}
                </div>
                <div class="column">
                  {{px.spesa}}
                </div>
                <div class="column ">
                  1 risorsa ogni {{px.cadenza}} gg.
                </div>
                <div class="column alr ">
                  {{px.recuperati}}
                </div>
              </div>
            </mat-card-content>
          </mat-card>





        </mat-card-content>
        
      </mat-card>

    </div>
  <mat-sidenav-content>
<mat-sidenav-container>
