
.small {
  font-size: 0.75em;
}
.half {
  width: 50%;
}
.all {
    text-align: left;
}
.mr {
  margin-right: 2em;
}
.ml {
  margin-left: 2em;
}

mat-card {
  /* max-width: 600px; */
  margin: 1em auto;
  text-align: center;
}

mat-checkbox {
  margin-left: 8px;
}

.mycontainer .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.bgcard {
  max-width: 600px;
  padding-top: 2em;
  padding-bottom: 2em;
  /*width: 25%;*/
}

.bgcard-container {
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.justified {
  text-align: justify;
  text-justify: inter-word;
}


.red {
  color: #ff0000 ;
}
.white {
  color: #ffffff ;
}
.dred {
  color: #b00000 ;
}


.btn-xs {
    padding: 0px 2px;
    /*font-size: 20px; */
    border-radius: 3px;
    font-size: 0.7em;
}

.btn:disabled{
    background-color: #a0a0a0;
}
.btn:enabled:hover{
    background-color: #f02618;
}
