

      <a [routerLink]="['/admin']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-user-circle"></i> Seleziona PG
          </mat-card-content>
        </mat-card>
      </a>


      <a [routerLink]="['/oggetti']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-bolt"></i> Gestisci Oggetti
          </mat-card-content>
        </mat-card>
      </a>

      <a [routerLink]="['']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-sign-out"></i>  Logout
          </mat-card-content>
        </mat-card>
      </a>
