

      <a [routerLink]="['/admin']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-user-circle"></i> Seleziona PG
          </mat-card-content>
        </mat-card>
      </a>

      <a routerLink="/personaggio/{{selectedPG}}" [ngClass]="{'isdisabled': selectedPG==''}">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-user-circle"></i> Vedi la scheda
          </mat-card-content>
        </mat-card>
      </a>


      <a routerLink="/adminbg/{{selectedPG}}" [ngClass]="{'isdisabled': selectedPG==''}">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-plus-square"></i> Modifica Background
          </mat-card-content>
        </mat-card>
      </a>

      <a routerLink="/risorse/{{selectedPG}}" [ngClass]="{'isdisabled': selectedPG==''}">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-money"></i> Gestisci Risorse
          </mat-card-content>
        </mat-card>
      </a>

      <a [routerLink]="['/oggetti']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-bolt"></i> Gestisci Oggetti
          </mat-card-content>
        </mat-card>
      </a>

      <a [routerLink]="['/chat']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-telegram"></i> Messaggi e fattore aleatorio
          </mat-card-content>
        </mat-card>
      </a>


      <a [routerLink]="['']">
        <mat-card class="movable">
          <mat-card-content class="all">
            <i class="fa fa-sign-out"></i>  Logout
          </mat-card-content>
        </mat-card>
      </a>
