a:hover i {
      color: #ef5350;
}
mat-card:hover {
  color: #ef5350;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  width: 75%;
}

.isdisabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}