<div>
  <p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-family:delphian; font-size:1.2em;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="side"  >
    <app-sidex></app-sidex>
  </mat-sidenav>
  <mat-sidenav-content>


<div class="container" style="width: 80%; margin-top: 1em; min-height: 85vh;">
<mat-card>

  <mat-card>
    <mat-card-title>
      Punti esperienza
    </mat-card-title>
    <hr>
    <mat-card-content>
      <div class="columns">

        <div class="column is-3">Punti totali</div>
        <div class="column is-1">{{scheda.xp}}</div>
        <div class="column is-3">Punti Disponibili</div>
        <div class="column is-1">{{xpdisponibili}}</div>
        <div class="column is-3">
          <form [formGroup]="addXPform" (ngSubmit)="addxp()" #formDir="ngForm">
            <mat-form-field appearance="fill" style="size: 100%; display: block;">
              <input matInput formControlName="xptoadd" placeholder="XP" type="text" pattern="\d*">
            </mat-form-field>
            <button  mat-raised-button class="large" color="primary" [disabled]="!formDir.form.valid" style="width: 100%;">Aggiungi</button>
          </form>
        </div>
        <div class="column is-1">&nbsp;</div>

      </div>
    </mat-card-content>
  </mat-card>



  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Incrementa Attributi
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      <div class="columns">
        <div class="column">
          Forza {{ (scheda['forza']<5 ? '('+(1+scheda['forza'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['forza'], 'dred': ix < scheda['forza']}"></i>
          <button  *ngIf="scheda['forza']<5" class="btn  btn-xs" (click)="addattr('forza')" [disabled]="xpdisponibili<(1+scheda['forza'])*2"><i class="fa fa-plus"></i></button>
        </div>
        <div class="column">
          Carisma {{ (scheda['carisma']<5 ? '('+(1+scheda['carisma'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['carisma'], 'dred': ix < scheda['carisma']}"></i>
          <button *ngIf="scheda['carisma']<5" class="btn  btn-xs" (click)="addattr('carisma')" [disabled]="xpdisponibili<(1+scheda['carisma'])*2"><i class="fa fa-plus"></i></button>
        </div>
        <div class="column">
          Percezione {{ (scheda['percezione']<5 ? '('+(1+scheda['percezione'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['percezione'], 'dred': ix < scheda['percezione']}"></i>
          <button *ngIf="scheda['percezione']<5" class="btn  btn-xs" (click)="addattr('percezione')" [disabled]="xpdisponibili<(1+scheda['percezione'])*2"><i class="fa fa-plus"></i></button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          Destrezza {{ (scheda['destrezza']<5 ? '('+(1+scheda['destrezza'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['destrezza'], 'dred': ix < scheda['destrezza']}"></i>
          <button *ngIf="scheda['destrezza']<5" class="btn  btn-xs" (click)="addattr('destrezza')" [disabled]="xpdisponibili<(1+scheda['destrezza'])*2"><i class="fa fa-plus"></i></button>
        </div>
        <div class="column">
          Persuasione {{ (scheda['persuasione']<5 ? '('+(1+scheda['persuasione'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['persuasione'], 'dred': ix < scheda['persuasione']}"></i>
          <button *ngIf="scheda['persuasione']<5" class="btn  btn-xs" (click)="addattr('persuasione')" [disabled]="xpdisponibili<(1+scheda['persuasione'])*2"><i class="fa fa-plus"></i></button>
        </div>
        <div class="column">
          Intelligenza {{ (scheda['intelligenza']<5 ? '('+(1+scheda['intelligenza'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['intelligenza'], 'dred': ix < scheda['intelligenza']}"></i>
          <button *ngIf="scheda['intelligenza']<5" class="btn  btn-xs" (click)="addattr('intelligenza')" [disabled]="xpdisponibili<(1+scheda['intelligenza'])*2"><i class="fa fa-plus"></i></button>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          Attutimento {{ (scheda['attutimento']<5 ? '('+(1+scheda['attutimento'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['attutimento'], 'dred': ix < scheda['attutimento']}"></i>
          <button *ngIf="scheda['attutimento']<5" class="btn  btn-xs" (click)="addattr('attutimento')" [disabled]="xpdisponibili<(1+scheda['attutimento'])*2"><i class="fa fa-plus"></i></button>
        </div>
        <div class="column">
          Saggezza {{ (scheda['saggezza']<5 ? '('+(1+scheda['saggezza'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['saggezza'], 'dred': ix < scheda['saggezza']}"></i>
          <button *ngIf="scheda['saggezza']<5" class="btn  btn-xs" (click)="addattr('saggezza')" [disabled]="xpdisponibili<(1+scheda['saggezza'])*2"><i class="fa fa-plus"></i></button>
        </div>
        <div class="column">
          Prontezza  {{ (scheda['prontezza']<5 ? '('+(1+scheda['prontezza'])*2+'px)' :'') }}
        </div>
        <div class="column">
          <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda['prontezza'], 'dred': ix < scheda['prontezza']}"></i>
          <button *ngIf="scheda['prontezza']<5" class="btn  btn-xs" (click)="addattr('prontezza')" [disabled]="xpdisponibili<(1+scheda['prontezza'])*2"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </mat-card>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Incrementa / Acquisisci Discipline e Rituali
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- <mat-card> -->
      <div class="columns is-multiline nopadding" style="margin-left: 0px;" >
        <div class="column is-4 nopadding" *ngFor="let dd of discipline; let ii = index ">

          <div class="columns">
            <div class="column">
              {{dd.disciplina.nomedisc}} {{ (dd.disciplina.livello < 5 && dd.disciplina.livello < maxdisc && dd.disciplina.iddisciplina != 98 && dd.disciplina.iddisciplina != 99 ? '(' + costonewdisc[ii] + 'px)' :'' ) }}
            </div>
            <div class="column">
              <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= dd.disciplina.livello, 'dred': ix < dd.disciplina.livello}"></i>
              <button *ngIf="dd.disciplina.livello<5 && dd.disciplina.livello<maxdisc && dd.disciplina.iddisciplina != 98 && dd.disciplina.iddisciplina != 99 " class="btn  btn-xs" (click)="adddisc(dd.disciplina.iddisciplina)" [disabled]="xpdisponibili<costonewdisc[ii]"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="column is-4 nopadding" >
          Acquisisci altre Discipline (10px)
          <mat-form-field>
          <mat-label>Nuova Disciplina</mat-label>
          <mat-select [(value)]="idnewdisc">
            <mat-option *ngFor="let tt of otherdisc" [value]="tt.iddisciplina" >{{tt.nomedisc}}</mat-option>
          </mat-select>
          </mat-form-field>
          <button  mat-raised-button class="large" color="primary" [disabled]="idnewdisc==''||xpdisponibili<10" style="width: 66%;" (click)="newdisc()">Aggiungi</button>
        </div>
      </div>

      <div class="columns" style="align-items: center;" *ngIf="taumaturgie.length >0">
        <div class="column"><hr></div>
        <div class="column is-2" style="text-align: center;">Vie Taumaturgiche</div>
        <div class="column"><hr></div>
      </div>

      <div class="columns is-multiline nopadding" style="margin-left: 0px;" *ngIf="taumaturgie.length >0">
        <div class="column is-4 nopadding" *ngFor="let dd of taumaturgie ; let ii = index ">
          <div class="columns">
            <div class="column">
              {{dd.taumaturgia.nometaum}} {{ (dd.taumaturgia.livello<5 && dd.taumaturgia.livello < maxdisc && ( ii == 0 || (ii!=0 &&livellitaum[ii-1]>livellitaum[ii]+1) || (ii!=0 && livellitaum[ii-1]==5) )  ? '(' + (dd.taumaturgia.livello+1)*2 + 'px)' :'' ) }}
            </div>
            <div class="column">
              <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= dd.taumaturgia.livello, 'dred': ix < dd.taumaturgia.livello}"></i>
              <button *ngIf="dd.taumaturgia.livello<5 && dd.taumaturgia.livello < maxdisc && ( ii== 0 || (ii != 0 && livellitaum[ii-1]>livellitaum[ii]+1) || (ii!=0 && livellitaum[ii-1]==5))" class="btn  btn-xs" (click)="addtaum(dd.taumaturgia.idtaum)" [disabled]="xpdisponibili<(dd.taumaturgia.livello+1)*2"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="column is-4 nopadding" *ngIf="livellitaum[1]==0 && livellitaum[0]>1">
          Scegli Via Secondaria (2px)
          <mat-form-field>
          <mat-label>Via Secondaria</mat-label>
          <mat-select [(value)]="idnewtaum">
            <mat-option *ngFor="let tt of newtaumaturgie" [value]="tt.idtaum" [disabled]="(tt.idtaum==6||tt.idtaum==7) && (statusPG<2)">{{tt.nometaum}}</mat-option>
          </mat-select>
          </mat-form-field>
          <button  mat-raised-button class="large" color="primary" [disabled]="idnewtaum==''||xpdisponibili<2" style="width: 66%;" (click)="newtaum(2)">Aggiungi</button>
        </div>
        <div class="column is-4 nopadding" *ngIf="livellitaum[2]==0 && livellitaum[1]>1">
          Scegli Via Terziaria (2px)
          <mat-form-field>
          <mat-label>Via Terziaria</mat-label>
          <mat-select [(value)]="idnewtaum">
            <mat-option *ngFor="let tt of newtaumaturgie" [value]="tt.idtaum" [disabled]="(tt.idtaum==6||tt.idtaum==7) && (statusPG<2)">{{tt.nometaum}}</mat-option>
          </mat-select>
          </mat-form-field>
          <button  mat-raised-button class="large" color="primary" [disabled]="idnewtaum==''||xpdisponibili<2" style="width: 66%;" (click)="newtaum(3)">Aggiungi</button>
        </div>
      </div>

      <div class="columns" style="align-items: center;" *ngIf="necromanzie.length >0">
        <div class="column"><hr></div>
        <div class="column is-2" style="text-align: center;">Vie Necromantiche</div>
        <div class="column"><hr></div>
      </div>

      <div class="columns is-multiline nopadding" style="margin-left: 0px;" *ngIf="necromanzie.length >0">
        <div class="column is-4 nopadding" *ngFor="let dd of necromanzie ; let ii = index ">
          <div class="columns">
            <div class="column">
              {{dd.necromanzia.nomenecro}} {{ (dd.necromanzia.livello<5 && dd.necromanzia.livello < maxdisc && ( ii == 0 || (ii!=0 &&livellinecro[ii-1]>livellinecro[ii]+1) || (ii!=0 && livellinecro[ii-1]==5) )  ? '(' + (dd.necromanzia.livello+1)*2 + 'px)' :'' ) }}
            </div>
            <div class="column">
              <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= dd.necromanzia.livello, 'dred': ix < dd.necromanzia.livello}"></i>
              <button *ngIf="dd.necromanzia.livello<5 && dd.necromanzia.livello < maxdisc && ( ii== 0 || (ii != 0 && livellinecro[ii-1]>livellinecro[ii]+1) || (ii!=0 && livellinecro[ii-1]==5))" class="btn  btn-xs" (click)="addnecro(dd.necromanzia.idnecro)" [disabled]="xpdisponibili<(dd.necromanzia.livello+1)*2"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="column is-4 nopadding" *ngIf="livellinecro[1]==0 && livellinecro[0]>1">
          Scegli Via Secondaria (2px)
          <mat-form-field>
          <mat-label>Via Secondaria</mat-label>
          <mat-select [(value)]="idnewnecro">
            <mat-option *ngFor="let tt of newnecromanzie" [value]="tt.idnecro" [disabled]="(tt.idnecro==4) && (statusPG<2)">{{tt.nomenecro}}</mat-option>
          </mat-select>
          </mat-form-field>
          <button  mat-raised-button class="large" color="primary" [disabled]="idnewnecro==''||xpdisponibili<2" style="width: 66%;" (click)="newnecro(2)">Aggiungi</button>
        </div>
        <div class="column is-4 nopadding" *ngIf="livellinecro[2]==0 && livellinecro[1]>1">
          Scegli Via Terziaria (2px)
          <mat-form-field>
          <mat-label>Via Terziaria</mat-label>
          <mat-select [(value)]="idnewnecro">
            <mat-option *ngFor="let tt of newnecromanzie" [value]="tt.idnecro" [disabled]="(tt.idnecro==4) && (statusPG<2)">{{tt.nomenecro}}</mat-option>
          </mat-select>
          </mat-form-field>
          <button  mat-raised-button class="large" color="primary" [disabled]="idnewnecro==''||xpdisponibili<2" style="width: 66%;" (click)="newnecro(3)">Aggiungi</button>
        </div>
      </div>

    <!-- </mat-card> -->

    <div class="columns" style="align-items: center;" *ngIf="taumaturgie.length >0||necromanzie.length>0">
      <div class="column"><hr></div>
      <div class="column is-2" style="text-align: center;">Rituali</div>
      <div class="column"><hr></div>
    </div>

    <div class="columns is-multiline nopadding" style="margin-left: 0px;" >
      <div class="column is-4 nopadding" *ngFor="let r of rituali">
        {{r.livello}}. {{r.nomerituale}}
      </div>
    </div>

    <div class="columns is-multiline nopadding" style="margin-left: 0px;" *ngIf="taumaturgie.length >0">
      <div class="column is-4 nopadding" *ngFor="let lvl of taumaturgie[0].taumaturgia.livello | times; let ix = index">
        <div class="column nopadding" *ngIf="maxrituali >= ix">
          Scegli Rituale di {{ix+1}}. Livello ({{(ix+1)*3}}px)
          <mat-form-field>
            <mat-label>Rituale</mat-label>
            <mat-select [(value)]="idnewrituale[ix]">
              <mat-option *ngFor="let rx of rituali_t[ix]" [value]="rx.idrituale" >{{rx.nomerituale}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button  mat-raised-button class="large" color="primary" [disabled]="idnewrituale[ix]==''||xpdisponibili<3*ix" style="width: 66%;" (click)="addrituale(ix,'t')">Aggiungi</button>
        </div>
      </div>
    </div>

    <div class="columns is-multiline nopadding" style="margin-left: 0px;" *ngIf="necromanzie.length>0">
      <div class="column is-4 nopadding" *ngFor="let lvl of necromanzie[0].necromanzia.livello | times; let ix = index">
        <div class="column nopadding" *ngIf="maxrituali >= ix">
          Scegli Rituale di {{ix+1}}. Livello ({{ (rituali.length==0?0:(ix+1)*3)   }}px)
          <mat-form-field>
            <mat-label>Rituale</mat-label>
            <mat-select [(value)]="idnewrituale[ix]">
              <mat-option *ngFor="let rx of rituali_n[ix]" [value]="rx.idrituale" >{{rx.nomerituale}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button  mat-raised-button class="large" color="primary" [disabled]="idnewrituale[ix]==''||xpdisponibili<(rituali.length==0?0:(ix+1)*3)" style="width: 66%;" (click)="addrituale(ix,'n')">Aggiungi</button>
        </div>
      </div>
    </div>


  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Incrementa Affinità/Conoscenze
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>

    <div class="columns is-multiline" style="margin-left: 0px;" >
      <div class="column is-4 nopadding" *ngFor="let dd of attitudini">
        <div class="columns">
          <div class="column ">
            {{dd.nomeskill}}  {{ (dd.livello<5 && dd.livello < scheda.destrezza ) ? '(' +  3 * (dd.livello+1) + 'px)' : '' }}
          </div>
          <div class="column">
            <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= dd.livello, 'dred': ix < dd.livello}"></i>
            <button *ngIf="dd.livello<5 && dd.livello < scheda.destrezza" class="btn btn-xs" (click)="addskill(dd.idskill, dd.tipologia)" [disabled]="xpdisponibili<3*(dd.livello+1)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>

    </mat-card>

    <mat-card>

      <div class="columns is-multiline" style="margin-left: 0px;" >
        <div class="column is-4 nopadding" *ngFor="let dd of skills">
          <div class="columns">
            <div class="column">
              {{dd.nomeskill}}  {{  (dd.livello<5)  ? '('+2*(dd.livello+1)+'px)' : '' }}
            </div>
            <div class="column">
              <i *ngFor="let item of 5|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= dd.livello, 'dred': ix < dd.livello}"></i>
              <button *ngIf="dd.livello<5 " class="btn btn-xs" (click)="addskill(dd.idskill, dd.tipologia)" [disabled]="xpdisponibili<2*(dd.livello+1)"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>

    </mat-card>

  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Incrementa Forza di Volonta e Blood Potency
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="columns is-multiline" style="margin-left: 0px;" >
      <div class="column nopadding">
        <div class="columns">
          <div class="column">
            Forza di Volontà {{  (scheda.fdvmax<10)  ? '('+4*(scheda.fdvmax+1)+'px)' : '' }}
          </div>
          <div class="column">
            <i *ngFor="let item of 10|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda.fdvmax, 'dred': ix < scheda.fdvmax}"></i>
            <button *ngIf="scheda.fdvmax<10 " class="btn btn-xs" (click)="addfdv()" [disabled]="xpdisponibili<4*(scheda.fdvmax+1)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="columns">
          <div class="column">
             Blood Potency {{  (scheda.bloodp < scheda.bloodpmax)  ? '('+4*(scheda.bloodp+1)+'px)' : '' }}
          </div>
          <div class="column">
            <i *ngFor="let item of 10|times ; let ix = index" class="fa fa-circle mymedicon" [ngClass]="{'white': ix >= scheda.bloodp, 'dred': ix < scheda.bloodp}"></i>
            <button *ngIf="scheda.bloodp<scheda.bloodpmax " class="btn btn-xs" (click)="addbp()" [disabled]="xpdisponibili<4*(scheda.bloodp+1)"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</mat-card>

</div>

  </mat-sidenav-content>
</mat-sidenav-container>
