a,
a:visited,
a:hover {
  color: #ffffff;
  text-decoration: none;
}


.bigger {
  font-size: 1.2em
}

hr {
  height: 1px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: #ff0000;
  color: #ff0000;
  display: block;
  border: 0;
  border-top: 1px solid #f00;
  padding: 0;
}

mat-card {
  /*margin-top: 0.25em;*/
  font-size: 1em
}
mat-expansion-panel {
  margin-top: 0.25em;
}

.mat-grid-tile .mat-figure {
   justify-content: flex-start !important ;
   align-items: flex-start !important;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.full {
  width: 100%;
}
