<div>
  <p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-family:delphian; font-size:1.2em;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="side"  >
    <app-sidex></app-sidex>
  </mat-sidenav>
  <mat-sidenav-content>


<div class="container" style="width: 80%; margin-top: 1em; min-height: 85vh;">
  <p>
  <mat-card>
    <mat-card-title>
      Pregi e Difetti
    </mat-card-title>
    <mat-card-content>
    <hr>

    <div class="columns is-multiline nopadding" style="margin-left: 0px;" >
      <div class="column is-3 nopadding" *ngFor="let tt of pregi">
        {{tt.nomepregio}} ({{tt.classe}} {{tt.valore}})
      </div>
    </div>
    <div class="columns is-multiline nopadding" style="margin-left: 0px;" >
      <div class="column is-3 nopadding" *ngFor="let tt of difetti">
        {{tt.nomepregio}} ({{tt.classe}} {{tt.valore}})
      </div>
    </div>

    <hr *ngIf="pregi.length + difetti.length >0 ">

    <div class="columns nopadding" style="margin-left: 0px;" >
      <div class="column is-3 nopadding" >
        <mat-form-field>
        <mat-label>Difetti Fisici</mat-label>
        <mat-select [(value)]="new_d_f" [disabled]= "ok_d_f>2">
          <mat-option *ngFor="let tt of difetti_f" [value]="tt.idpregio" >{{tt.nomepregio}} ({{tt.valore}})</mat-option>
        </mat-select>
        </mat-form-field>
        <button  mat-raised-button class="large" color="primary"  style="width: 66%;" (click)="newpregio('df')" [disabled]="new_d_f=='' ">Aggiungi</button>
      </div>
      <div class="column is-3 nopadding" >
        <mat-form-field>
        <mat-label>Difetti Mentali</mat-label>
        <mat-select [(value)]="new_d_m" [disabled]= "ok_d_m>2">
          <mat-option *ngFor="let tt of difetti_m" [value]="tt.idpregio" >{{tt.nomepregio}} ({{tt.valore}})</mat-option>
        </mat-select>
        </mat-form-field>
        <button  mat-raised-button class="large" color="primary"  style="width: 66%;" (click)="newpregio('dm')" [disabled]="new_d_m=='' ">Aggiungi</button>
      </div>
      <div class="column is-3 nopadding" >
        <mat-form-field>
        <mat-label>Difetti Sociali</mat-label>
        <mat-select [(value)]="new_d_s" [disabled]= "ok_d_m>2">
          <mat-option *ngFor="let tt of difetti_s" [value]="tt.idpregio" >{{tt.nomepregio}} ({{tt.valore}})</mat-option>
        </mat-select>
        </mat-form-field>
        <button  mat-raised-button class="large" color="primary"  style="width: 66%;" (click)="newpregio('ds')" [disabled]="new_d_s=='' ">Aggiungi</button>
      </div>
      <div class="column is-3 nopadding" >
        <mat-form-field>
        <mat-label>Difetti Sovrannaturali</mat-label>
        <mat-select [(value)]="new_d_x" [disabled]= "ok_d_x>2">>
          <mat-option *ngFor="let tt of difetti_x" [value]="tt.idpregio" >{{tt.nomepregio}} ({{tt.valore}})</mat-option>
        </mat-select>
        </mat-form-field>
        <button  mat-raised-button class="large" color="primary"  style="width: 66%;" (click)="newpregio('dx')" [disabled]="new_d_x=='' ">Aggiungi</button>
      </div>
    </div>

    <div class="columns nopadding" style="margin-left: 0px;" >
      <div class="column is-3 nopadding" >
        <mat-form-field>
        <mat-label>Pregi Fisici</mat-label>
        <mat-select [(value)]="new_p_f" [disabled]="! (ok_d_f>0 || okPX) " >
          <mat-option *ngFor="let tt of pregi_f" [value]="tt.idpregio" [disabled]=" !( (tt.valore <= -saldo) || ( okPX &&  (tt.valore * 2 + saldo * 2  <  pxdisponibili) ) ) ">{{tt.nomepregio}} ({{tt.valore}}) </mat-option>
        </mat-select>
        </mat-form-field>
        <button  mat-raised-button class="large" color="primary"  style="width: 66%;" (click)="newpregio('pf')" [disabled]="new_p_f=='' ">Aggiungi</button>
      </div>
      <div class="column is-3 nopadding" >
        <mat-form-field>
        <mat-label>Pregi Mentali</mat-label>
        <mat-select [(value)]="new_p_m" [disabled]="! (ok_d_m>0 || okPX) " >
          <mat-option *ngFor="let tt of pregi_m" [value]="tt.idpregio" [disabled]=" !( (tt.valore <= -saldo) || ( okPX &&  (tt.valore * 2 + saldo * 2  <  pxdisponibili) ) ) ">{{tt.nomepregio}} ({{tt.valore}})</mat-option>
        </mat-select>
        </mat-form-field>
        <button  mat-raised-button class="large" color="primary"  style="width: 66%;" (click)="newpregio('pm')" [disabled]="new_p_m=='' ">Aggiungi</button>
      </div>
      <div class="column is-3 nopadding" >
        <mat-form-field>
        <mat-label>Pregi Sociali</mat-label>
        <mat-select [(value)]="new_p_s" [disabled]="! (ok_d_s>0 || okPX) " >
          <mat-option *ngFor="let tt of pregi_s" [value]="tt.idpregio" [disabled]=" !( (tt.valore <= -saldo) || ( okPX &&  (tt.valore * 2 + saldo * 2  <  pxdisponibili) ) ) ">{{tt.nomepregio}} ({{tt.valore}})</mat-option>
        </mat-select>
        </mat-form-field>
        <button  mat-raised-button class="large" color="primary"  style="width: 66%;" (click)="newpregio('ps')" [disabled]="new_p_s=='' ">Aggiungi</button>
      </div>
      <div class="column is-3 nopadding" >
        <mat-form-field>
        <mat-label>Pregi Sovrannaturali</mat-label>
        <mat-select [(value)]="new_p_x" [disabled]="! (ok_d_x>0 || okPX) " >
          <mat-option *ngFor="let tt of pregi_x" [value]="tt.idpregio" [disabled]=" !( (tt.valore <= -saldo) || ( okPX &&  (tt.valore * 2 + saldo * 2  <  pxdisponibili) ) ) ">{{tt.nomepregio}} ({{tt.valore}})</mat-option>
        </mat-select>
        </mat-form-field>
        <button  mat-raised-button class="large" color="primary"  style="width: 66%;" (click)="newpregio('px')" [disabled]="new_p_x=='' ">Aggiungi</button>
      </div>
    </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <div class="columns " >
      <div class="column alc">
        Saldo Difetti-Pregi: {{ saldo }}
      </div>
      <div class="column alc">
        <mat-checkbox color="warn" (change)="abilitaPX()" >
          Abilita spesa PX [{{pxdisponibili}}] per i Pregi
        </mat-checkbox>
      </div>
    </div>

  </mat-card>


</div>


</mat-sidenav-content>
</mat-sidenav-container>
