/* You can add global styles to this file, and also import other style files */


@import '~font-awesome/css/font-awesome.css';
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";




html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #121212;}

@font-face {
  font-family: delphian;
  src: url('assets/delphian.woff') ;
}

.alc {
  text-align: center;
}
.alr {
  text-align: right;
}
.dred {
  color: #b00000 ;
}
.red {
  /*color: #f22613 ;*/
  color: #f00000 ;
  font-weight: 500;
}
.white {
  color: #ffffff ;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}
