<div>
  <p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-family:delphian; font-size:1.2em;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="side"  >
    <app-sideadm></app-sideadm>
  </mat-sidenav>
  <mat-sidenav-content>


<div class="container" style="width: 80%; margin-top: 1em;">

  <mat-card>

      <div class="column" style="font-size: 1.5em; font-weight: 500;">
        Gestione oggetti
      </div>

    <div><hr></div>

    Work In progress

    <p>
    Work In progress

    <p>
    Work In progress


  </mat-card>



</div>


</mat-sidenav-content>
</mat-sidenav-container>
