<div>
  <p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-family:delphian; font-size:1.2em;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="side"  >
    <app-sideadm></app-sideadm>
  </mat-sidenav>
  <mat-sidenav-content>


<div class="container" style="width: 80%; margin-top: 1em;">

  <mat-card>

      <div class="column" style="font-size: 1.5em; font-weight: 500;">
        Gestione oggetti
      </div>

    <div><hr></div>

    <div class="columns">
      <div class="column is-1">
        ID.
      </div>
      <div class="column is-2">
        Barcode
      </div>
      <div class="column is-2">
        Nome Oggetto
      </div>
      <div class="column is-3">
        Descrizione
      </div>
      <div class="column is-1">
        Tipo
      </div>
      <div class="column is-1">
        &nbsp;
      </div>
      <div class="column is-1">
        &nbsp;
      </div>
    </div>
    <div class="columns" *ngFor="let item of listaoggetti">
      <div class="column">
        <div class="columns">
          <div class="column is-1">
            {{item.oggetto.idoggetto}}
          </div>
          <div class="column is-2">
            {{item.oggetto.barcode}}
          </div>
          <div class="column is-2">
            {{item.oggetto.nomeoggetto}}
          </div>
          <div class="column is-3">
            {{item.oggetto.descrizione}}
          </div>
          <div class="column is-1">
            {{item.oggetto.fissomobile}}
          </div>
          <div class="column is-1">
            <button  mat-raised-button class="full" color="secondary" >Modifica</button>
          </div>
          <div class="column is-1">
            <button  mat-raised-button class="full" color="warn" >Cancella</button>
          </div>
        </div>
        <div class="columns" *ngFor="let cond of item.condizioni">
          <div class="column is-1">
            &nbsp;
          </div>
          <div class="column is-2">
            {{cond.tipocond}}
          </div>
          <div class="column is-2">
            Min. {{cond.valcond}}
          </div>
          <div class="column is-6">
            {{cond.descrX}}
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>

    <p>


  </mat-card>



</div>


</mat-sidenav-content>
</mat-sidenav-container>
