


        <a [routerLink]="['/scheda']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-user-circle"></i> Vedi la scheda
            </mat-card-content>
          </mat-card>
        </a>

        <a [routerLink]="['/spendipx']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-plus-square"></i> Aggiungi / Spendi PX
            </mat-card-content>
          </mat-card>
        </a>


        <a [routerLink]="['/pregidifetti']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-pencil-square"></i> Aggiungi Pregi e Difetti
            </mat-card-content>
          </mat-card>
        </a>

        <a [routerLink]="['/bio']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-file-text"></i> Inserisci Biografia e Annotazioni
            </mat-card-content>
          </mat-card>
        </a>

        <a [routerLink]="['/poteri']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-bolt"></i> Scegli Poteri
            </mat-card-content>
          </mat-card>
        </a>

        <a [routerLink]="['/logpx']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-list"></i> Visualizza log PX
            </mat-card-content>
          </mat-card>
        </a>

        <a [routerLink]="['/xx']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-book"></i> Consulta il regolamento
            </mat-card-content>
          </mat-card>
        </a>

        <a [routerLink]="['/xx']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-trash"></i> Cancella la scheda
            </mat-card-content>
          </mat-card>
        </a>

        <a [routerLink]="['']">
          <mat-card class="movable">
            <mat-card-content class="all">
              <i class="fa fa-sign-out"></i>  Logout
            </mat-card-content>
          </mat-card>
        </a>
