<div>
  <p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="font-family:delphian; font-size:1.2em;">NOTTURNA</span>
  </mat-toolbar>
</p>
</div>

<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav mode="side"  >
    <app-sidex></app-sidex>
  </mat-sidenav>
  <mat-sidenav-content>


    <div class="container" style="width: 80%; margin-top: 1em; min-height: 85vh;">
      <mat-card>

        <mat-card>
          <mat-card-title>
            Cancella la Scheda
          </mat-card-title>
          <hr>
          <p>
          Sei assolitamente sicuro di cancellare la scheda? La scelta è irreversibile e la scheda non potrà essere recuperata.
          <p>
          <mat-checkbox color="warn" (change)="ok()" >
            So cosa sto facendo
          </mat-checkbox>
          <p>
          <button  mat-raised-button class="large" color="primary" [disabled]="!imfine" (click)="cancella()">Cancella</button>

        </mat-card>

      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
